<div class="toptitle">
    <h1>Top 10 Trending Movies</h1>
</div>
<div class="MovieSection">
    {{#each topMovies}}
    <div id="" class="IndividualMovie">
        <div>
            <h4>{{name}}</h4>
            <div>
                <a href="" id=""><img id="" class="MovieImage" src={{image_url}}></a>
            </div>
            <p id="" style="display: none;">{{id}}</p>
        </div>
    </div>
    {{/each}}
</div>

<h2>All Movies</h2>
<div class="MovieSection">
    {{#each movies}}
    <div id="IndividualMovie" class="IndividualMovie">
        <div>
            <h4 class="review1">{{genre}}, {{name}}, {{review}}, {{rating}}</h4>
            <div>
                <a href="" id="modaldisplay"><img id="MovieImage" class="MovieImage" src={{image_url}}></a>
            </div>
            <p id="pictureid" style="display: none;">{{id}}</p>
        </div>
    </div>
    {{/each}}

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <img src="" alt="" id="modalImage">
            <p id="ModalId" style="display: none;"></p>
            <button id="saveMovie">Save Movie</button>

            <form id="reviewForm" action="/review" method="POST">
                <div>
                    <p id="movieName" style="display: none;" name="movieName"></p>
                </div>
                <div>
                    <label for="review">Review (1-10):</label>
                    <input type="number" id="review" name="review" min="1" max="10" required>
                </div>
                <button type="submit">Submit Review</button>
            </form>

        </div>
    </div>
</div>
{{!-- I don't think we need this now... --}}
{{!-- <h2>Movie Review</h2> --}}



<h2>My movies</h2>
<div class="SavedMovieContainer">
    {{#each savedMovies}}
    <div class="IndividualMovie">
        <h4>{{genre}}, {{name}}, {{review}}, {{rating}}</h4>
        <img id="MovieImage" class="MovieImage" src={{image_url}}>
        <p style="display: none;">{{movie_id}}</p>
        <button id="deleteMovie">Delete Movie</button>
    </div>
    {{/each}}
</div>

<script src="/js/filmreview.js"></script>
<script src="/js/modal.js"></script>