<h1> top 10 trending </h1>
<div>
    <h4> currently unknown</h4>
</div>

<h1>All movies</h1>
<div>
    {{#each movies}}
    <div class="row mb-2">
        <div class="col-md-8">
            <h4>{{genre}}, {{name}},{{review}}, {{rating}}</h4>
            {{!-- puts the id of the movie with "display none" so we can get it--}}
            <p style="display: none;">{{id}}</p>
        </div>
        <button id="saveMovie">Save Movie</button>
    </div>

    {{/each}}
</div>

<h1> My movies </h1>

<div>
    {{#each savedMovies}}
    <div class="row mb-2">
        <div class="col-md-8">
            <h4>{{genre}}, {{name}}, {{review}}, {{rating}}</h4>
            {{!-- puts the id of the movie with "display none" so we can get it--}}
            <p style="display: none;">{{id}}</p>
        </div>
        <button id="deleteMovie">Delete Movie</button>
    </div>
    {{/each}}
</div>